<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data science Tools and ecosystems

In This notebook ,Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

some of commomly used libraries used by Data Scientist include :
1. Pandas
2. Numpy
3. Matplotlib

|Data science Tools|
|--------------------------------------|
|Jupiter Notebook|
|Apache Spark|
|TensorFlow|

### Below are few examples of evaluating arithmetic expressions in python

(3+7)*2

(10-4)/2+3**2

9/3

This is a simple arithmetics expression to multiply and add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
min = 200
hour = min / 60
hour

3.3333333333333335

Objectives
+ List commonly used libraries used by Data Scientists
+ List development environment open source tools used in data science
+ List few examples of evaluating arithmetic expressions in Python

Author