# Outils et ecosystèmes de la science des données

Dans ce notebook ,les outils et l'écosystème de la science des données sont resumés

Certains langages populaires sont :

1. python

2. R

3. SQL

Certaines des  bibliothèques couramment utilisées par les scientifiques de données incluent :
1. Pandas
2. Numpy
3. Matplotlib

|Les outils de la science de données sont |
|--------------------------------------|
|Jupiter Notebook|
|Apache Spark|
|TensorFlow|

### Voici quelques exemples d'expressions arithmétiques

(3+7)*2

(10-4)/2+3**2

y=5*x

In [1]:
#ceci est une simple expression arithmétique pour multiplier puis additionner des entiers
(3*4)+5

17

In [3]:
#Cela  convertira 200 minutes en heure en divisant par 60
min = 200
heure = min/60
heure

3.3333333333333335

__Objectifs__

+Liister les bibliothèque couramment utilisees par les scientifiques de données

+Lister les outils open source de la science de données

+Lister quelques exemples d'expression arithmétiques

## Auteur
TAGNE HAPPI WILMA IRINA